{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ user.name }}</h1>
        <h3>Email: {{ user.email }}</h3>
    </div>
    <div class="jumbotron">
        <h1>{{ user.name }}'s Requests</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Page Link</th>
                                <th>Donate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in asks %}
                                {% if i[0] % 2 == 0 %}
                                    <tr>
                                {% else %}
                                    <tr class="table-active">
                                {% endif %}
                                    <td>{{ i[1].index }}</td>
                                    <td>{{ i[1].item_name }}</td>
                                    <td><a href={{ "/donation/{}/{}".format(i[1].asker.name.replace(" ", "_"), i[1].index) }}>View Page</a></td>
                                    <td><a href="#">Donate</a></td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
